{% extends 'base1.html' %}
{% load staticfiles %}
{% block content %}
	<h1>Bienvenido {{ usuario.username | upper }}</h1>
	<br>
	<br>
	<a href="{% url 'mascota:nuevo' %}">para registrar una mascota sin hogar</a>
	<br>
	<br>
	<br>
	<a href="{% url 'logout' %}" class="btn btn-default btn-flat">Cerrar Seccion</a>
	<br>
	<br>
	<br>
	<h2>Aqui las mascotas registradas</h2>
	<div class= "row">
		{% for mascota in mascotas %}
			<div class="col col-md-3">
		        Nombre : <b><a href="{% url 'mascota:detalle' mascota.id %}">{{ mascota.name }}</b></a>
		        <figure class="platillo">
		        	<img src="{% static ""%}../{{ mascota.photo }}" alt="foto de mascota" class="img-responsive">
		        </figure>
		        
		    </div>
		{% empty %} {% endfor %}
	</div>

{% endblock content %}