{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Este ejemplo hereda de base{% endblock %}
{% block otherhead %}
    <!-- daterange picker -->
    <link rel="stylesheet" href="{% static "plugins/daterangepicker/daterangepicker-bs3.css"%}">
{% endblock %}
{% block content %}
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>Aqui el contenido de esta pagina</h1>
        </section>
      </div>
{% endblock %}
{% block otherscript %}
    <!-- Select2 -->
    <script src="{% static "plugins/select2/select2.full.min.js"%}"></script>
{% endblock %}